page-login {
//ทำไห้รูปอยู่ตรงกลาง
    img{
        width: 50%;
        margin-top: 10%;
        margin-left: 25%;
        display: block;
        margin-right: auto;
        border: 1px solid green;
    }

}
